@{
    ViewData["Title"] = "Dashboard";
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Dashboard">
                            <span data-feather="home"></span>
                            Dashboard
                        </a>
                    </li> 
                    <li class="nav-item">
                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="CreateAboutUs">
                            <span data-feather="home"></span>
                            About us 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="GetAllShops">
                            <span data-feather="home"></span>
                            Shops
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="GetAllReport">
                            <span data-feather="home"></span>
                            All Report
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" asp-area="" asp-controller="Category" asp-action="GetAllCategory">
                            <span data-feather="home"></span>
                            Categories
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

       

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        This week
                    </button>
                </div>
            </div>

            <h2>Numder Of Customers For each Month</h2>
            <canvas id="myChart" width="400" height="200"></canvas>
            <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                          labels: ['Jan', 'Feb', 'March', 'April', 'May', 'June'],
                        datasets: [{
                            label: '# of customer',

                            data: [12, 19, 3, 5, 2, 3],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>

        
        </main>
    </div>
</div>
